<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="base.model.design.mapper.ProjectUserMapper">
  <resultMap id="BaseResultMap" type="base.model.design.pojo.ProjectUser">
    <!--@mbg.generated-->
    <!--@Table project_user-->
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="project_id" jdbcType="INTEGER" property="projectId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="role" jdbcType="VARCHAR" property="role" />
    <result column="create_by" jdbcType="INTEGER" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, project_id, user_id, `role`, create_by, create_time
  </sql>
</mapper>