@import './base.css';

body {
    background-color: white;
}

#app {
    margin: 0 auto;
    font-weight: normal;
}

.app-container {
    padding: 5px 24px 5px 24px;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.v-center {
    align-items: center;
}

.sub-title {
    font-size: 14px;
    font-weight: bold;
    padding: 20px 20px 20px 20px;
}

.action-bar {
    padding-right: 8px;
    text-align: right;
}